.sampleElement div:nth-child(1){
    float: left;
}
.sampleElement div:last-child{
    float:right;
}
.emphasize{
    color: red;
}
.sampleElement{
    text-align: center;
}
.content{        
    text-align: center;        
}    
.content div{
    width: 50vw;
    align-self: center;
    margin: auto;
    text-align: left;
}  