.tb_desc{
    margin: auto;
    text-align: left;
    border:1px solid black;
    width: 80%;    
}
.div_content{
    width: 50%;
    float: left;    
    vertical-align: middle;
    display: table-cell;
}
.div_link{
    text-align: center;
}
.tb_ForContent {
    margin: auto;
    border: 1px solid black;
    display: inline-block;
}

.tb_ForContent td {
    border: 1px solid black;
}

.tb_ForContent tr :first-child {
    background-color: black;
    color: white;
}
.div_main{
    display: block;overflow: auto;
}
.tb_desc tr:nth-child(odd){
    background-color: black;
    color:white;
}