.renderBody_tb{
    border:1px solid black;
    margin: auto;
}
.renderBody_tb th{
    background-color: black;
    color: white;
    text-align: center;
}
.renderBody_tb tr td{
    text-align: left;
    column-span: 1;
    border:1px solid black;
}
.renderBody_tb tr:nth-child(2) td{
    background-color: black;
    color: white;
}
.renderBody_tb tr td:nth-child(odd){
    background-color: black;
    color: white;
}